.tooltipcontainer {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: -40px;
  left: -30px;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip text visibility on hover */
.tooltipcontainer:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
